/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 70px;
}

.navbar-default {
    background-color: #00A9F9;
    border-color: #e7e7e7;
    color: white;
    font-size: 1em;
}

.thumbnail .caption {
    padding: 0px;
    padding-bottom: 9px;
  }

.caption p {
  text-align: center;
}

.add-button {
  position:fixed;
  bottom:0;
  right:0;
  padding: 20px;
}

.project-form {
  width: 50%;
  margin: 0 auto;
}

.btn-default {
  color: #00A9F9;
}

.btn-group-lg>.btn, .btn-lg {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.72);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.72);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.72);
  height: 75px;
  padding-top: 25px;
  width: 60px;
}

.thumbnail {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.72);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.72);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.72);
  border-radius: 0px;
}
